<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gbase.jdbctest.mapper.StudentMapper">

    <update id="createTable">
    	drop table if exists student;
    	create table student (id serial not null, sno varchar(60), name varchar(100), primary key(id));
    </update>

    <insert id="addStudent" useGeneratedKeys="true">
		insert into student(sno, name) values (#{sno}, #{name})
	</insert>

    <delete id="deleteStudent">
        delete from student where id = #{id}
    </delete>

    <update id="modifyStudentName">
    	update student set name = #{name} where id = #{id}
    </update>

    <select id="listStudent" resultType="com.gbase.jdbctest.entity.StudentDTO">
        select id, sno, name from student
    </select>

</mapper>